footer {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.918);
    text-align: center;
}

footer p {
    font-size: 10px;
    font-style: normal;
    color: white;
    margin-top: 20px;
}

#icons-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

#icons {
    display: inline-block;
}

#icons a img {
    display: inline-block;
    margin: 0 10px;
    /* Add some margin between the icons */
    width: 15%;
}

hr {
    margin: 50px;
    color: rgb(200, 200, 200);
}