@media screen and (min-width: 768px) {
    header {
        height: 160px;
        padding: 0 60px;
    }

    header nav a {
        font-size: 17px;
        margin-left: 50px;
        padding: 12px 15px;
    }

    .logo img {
        width: 50%;
    }

    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 60px;
    }

    main div img {
        width: 30%;
    }

    main div p {
        margin-top: 70px;
        font-size: 25px;
        width: 80%;
    }

    footer {
        height: 200px;
        background-color: rgba(0, 0, 0, 0.918);
    }

    footer p {
        font-size: 15px;
        margin-top: 30px;
    }

    #icons-container {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 60px;
    }

    #icons a {
        display: inline-block;
        margin: 0 25px;
        /* Add some margin between the icons */
    }

    #icons a img {
        width: 50px;
    }

}